In [1]:
my_list = list(range(0,10))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
my_list = list(range(0,10))
print("my_list = ", my_list)
my_list_copy=[]
for n in my_list:
    my_list_copy.append(n)
print(my_list_copy)

my_list =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
my_list_copy=[n for n in my_list]
print(my_list_copy)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
my_list_squared=[n**2 for n in my_list]
print(my_list_squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
my_list_cube = [n**3 for n in my_list]
print(my_list_cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

# MAP

In [12]:
#lambda is one line function, anonomus function

In [13]:
list1=list(range(0,10))
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list1_squared = map(lambda n :n**2,list1)
print(list1_squared) #returns the object of map
list(list1_squared)

<map object at 0x057C9470>

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
list2 = list(range(0,20))

In [31]:
x = lambda n : n+10
x(2)

12

In [26]:
y = lambda a : a**2
y(4)

16

In [27]:
z = lambda b = 10 : b**2
z()

100

In [34]:
def maximum (x,y):
    if x>y:
        return(x)
    else:
        return(y)

In [35]:
maximum(5,6)

6

In [38]:
q = lambda x,y : x if(x>y) else y

In [39]:
q(10,20)

20

In [47]:
divide = lambda x,y  : "error" if(y==0) else x/y

In [48]:
divide(2,0)

'error'

In [49]:
divide(20,10)

2.0

In [50]:
#examples

In [61]:
def converter (i):
    return(i/12 ,("Feet"))

In [62]:
converter(2)

(0.16666666666666666, 'Feet')

In [63]:
inch = [12,19,72,84,99]

In [64]:
converted = map(lambda x: x/12, inch)

In [65]:
list(converted)

[1.0, 1.5833333333333333, 6.0, 7.0, 8.25]

In [75]:
list5 = list(range(0,11))

In [76]:
even = filter(lambda a : a%2==0, list5)

In [77]:
list(even)

[0, 2, 4, 6, 8, 10]

In [78]:
tuple1=(1,2,3,4,5)

In [88]:
odd = filter(lambda a : a%2!=0, tuple1)

In [89]:
list(odd)

[1, 3, 5]

In [95]:
def addition(a,b):
    sumv= a+b
    return sumv

In [118]:
list7 =[11,21,77,44,53]

In [136]:
def summation(args,total):
    if type(args) is list:
        print(True)
        total =0
        for each in args:
            total += each
        return total
    else:
        return args + total

In [137]:
from functools import reduce as r

In [138]:
x = r(summation, list7)

In [139]:
print(x)

206

In [140]:
summation(list7,0)

True

206

In [208]:
list8 = [list(range(0,20)),list(range(0,20))]

In [207]:
def eo(args,b):
    for each in args:
        if each%2 == 0:
            print(each,"even")
        else:
            print(each,"odd")

In [215]:
#need a normal function that takes both integer and list

In [216]:
z = r(eo,list8)

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd

In [214]:
l=[1,2,7,9]

In [217]:
a= {1,2,3,4,5}

In [218]:
type(a)

set

In [219]:
b = list({1,2,3,4})

In [220]:
type(b)

list

In [221]:
print(b)

[1, 2, 3, 4]