In [2]:
import pandas as pd
pd.Series?

In [3]:
animals = ["Tiger",'Bear','Moose']

In [4]:
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [5]:
data1 = [6, "Subash", True]
data2 = [3, "Mahat", None]

In [6]:
data3 = [1,2,None]
data4 = ["Tiger", 'Lion', None]

In [9]:
pd.Series(data1)

0         6
1    Subash
2      True
dtype: object

In [10]:
pd.Series(data2)

0        3
1    Mahat
2     None
dtype: object

In [12]:
pd.Series(data3)

0    1.0
1    2.0
2    NaN
dtype: float64

In [13]:
pd.Series(data4)

0    Tiger
1     Lion
2     None
dtype: object