In [6]:
import pandas as pd
pd.Series?

In [7]:
animals = ["Tiger",'Bear','Moose']

In [21]:
an = pd.Series(animals)
an 
an.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
data1 = [6, "Subash", True]
data2 = [3, "Mahat", None]

In [10]:
data3 = [1,2,None]
data4 = ["Tiger", 'Lion', None]

In [11]:
pd.Series(data1)

0         6
1    Subash
2      True
dtype: object

In [12]:
pd.Series(data2)

0        3
1    Mahat
2     None
dtype: object

In [13]:
pd.Series(data3)

0    1.0
1    2.0
2    NaN
dtype: float64

In [14]:
pd.Series(data4)

0    Tiger
1     Lion
2     None
dtype: object

In [15]:
import numpy as np
np.nan == None

False

In [2]:
np.nan == np.nan

False

In [16]:
np.isnan(np.nan)

True

In [17]:
dict1 = { "fruits": ("apple", "banana", "Orange"), "animals":("tiger", "lion"), "numbers":(1,2,3), "Boolean":True}

In [18]:
s = pd.Series(dict1)

In [19]:
s

fruits     (apple, banana, Orange)
animals              (tiger, lion)
numbers                  (1, 2, 3)
Boolean                       True
dtype: object

In [20]:
s.index

Index(['fruits', 'animals', 'numbers', 'Boolean'], dtype='object')

In [23]:
pd.Series?

In [24]:
s = pd.Series(['Tiger','Bear','Moose'],index=['India','America','Canada'])

In [25]:
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [32]:
d = pd.Series([dict1.get("fruits"),dict1.get("animals")],index = ["fruits","animals"])

In [33]:
d

fruits     (apple, banana, Orange)
animals              (tiger, lion)
dtype: object

In [34]:
e = pd.Series(dict1, index=["fruits","animals"])

In [35]:
e

fruits     (apple, banana, Orange)
animals              (tiger, lion)
dtype: object

In [36]:
e.get("animals")

('tiger', 'lion')

In [37]:
sports = {'Archery':'Bhutan',
         'Golf':'Scotland',
         'Sumo': 'Japan',
         'Taekwondo':'South Korea'}
s = pd.Series(sports)

In [38]:
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [40]:
s.get("Sumo")

'Japan'

In [41]:
s["Sumo"]

'Japan'

In [42]:
s[2]

'Japan'

In [44]:
s.iloc[2]

'Japan'

In [47]:
s.loc['Golf']

'Scotland'

In [49]:
games = {
    99: 'Bhutan',
    100: 'Scotland',
    101: 'Japan',
    102: 'South Korea'
}

In [52]:
g = pd.Series(games)

In [53]:
g.get(99)

'Bhutan'

In [54]:
g[99]

'Bhutan'

In [55]:
g.iloc[0]

'Bhutan'

In [60]:
numbers = [1,2,100,1000,35,67]

In [61]:
sum(numbers)

1205

In [62]:
np.sum(numbers)

1205

In [63]:
n = pd.Series(numbers)

In [64]:
sum(n)

1205

In [65]:
np.sum(n)

1205

In [67]:
n.sum()

1205

In [69]:
n1 = pd.Series(np.random.randint(0,1000,1000))

In [70]:
len(n1)

1000

In [72]:
n1.head(10)

0    719
1    149
2     47
3    342
4    159
5    688
6    477
7    305
8    435
9     39
dtype: int32

In [74]:
n1.tail(10)

990    317
991    677
992    529
993     33
994    464
995    347
996    659
997    718
998    894
999    727
dtype: int32

In [75]:
n1 + 5

0      724
1      154
2       52
3      347
4      164
5      693
6      482
7      310
8      440
9       44
10     912
11     233
12     593
13     359
14     457
15     747
16     353
17     934
18     742
19     799
20     201
21     143
22     732
23     836
24     848
25     985
26     800
27     661
28     865
29     579
      ...
970    936
971    403
972     63
973    468
974    498
975    983
976    732
977    572
978    262
979    513
980    658
981    624
982     81
983    866
984    872
985    271
986    409
987    772
988    325
989    463
990    322
991    682
992    534
993     38
994    469
995    352
996    664
997    723
998    899
999    732
Length: 1000, dtype: int32

In [76]:
n1.add(2)

0      721
1      151
2       49
3      344
4      161
5      690
6      479
7      307
8      437
9       41
10     909
11     230
12     590
13     356
14     454
15     744
16     350
17     931
18     739
19     796
20     198
21     140
22     729
23     833
24     845
25     982
26     797
27     658
28     862
29     576
      ...
970    933
971    400
972     60
973    465
974    495
975    980
976    729
977    569
978    259
979    510
980    655
981    621
982     78
983    863
984    869
985    268
986    406
987    769
988    322
989    460
990    319
991    679
992    531
993     35
994    466
995    349
996    661
997    720
998    896
999    729
Length: 1000, dtype: int32